{% extends 'front/base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
<div class="main main-raised">
    <div class="section section-full-screen section-signup">
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                <div class="col-md-12">
                        <!-- Tabs with icons on Card -->
                        <div class="card card-nav-tabs">
                            <div class="header header-success">
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="active">
                                                <a href="#profile" data-toggle="tab">
                                                    <i class="material-icons">pets</i>
                                                <div class="ripple-container"></div></a>
                                            </li>
                                            <li>
                                                <a href="#photos" data-toggle="tab">
                                                    <i class="material-icons">insert_photo</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#modifier" data-toggle="tab">
                                                    <i class="material-icons">create</i>
                                                </a>

                                            </li>
                                            <li>
                                                <a href="#addphotos" data-toggle="tab" id="addphotolink">
                                                    <i class="material-icons">camera_enhance</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="profile">
                                        <h1>                                            
                                            {{ object.PetName }}&nbsp;{% if object.Category == "Chien" %}
                                                <span class="icon-dog_face"></span>
                                            {% else %}
                                                <span class="icon-cat_face"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
                                            {% endif %}</h1>
                                        <h1>
                                            {% if object.Sex == "M" %}
                                                <span class="icon-male"></span>
                                            {% else %}
                                                <span class="icon-female"></span>
                                            {% endif %}
                                            {% if object.OK_ENFANT == "Y" %}
                                                <span class="icon-baby_face"></span>
                                            {% else %}
                                                {% if object.OK_ENFANT == "N" %}
                                                   <span class="icon-baby_face_no"></span>
                                                {% else %}
                                                    <span class="icon-baby_face_question"></span> 
                                                {% endif %}
                                            {% endif %}
                                            {% if object.OK_CHIEN == "Y" %}
                                                <span class="icon-dog_face green-icon"></span>
                                            {% else %}
                                                {% if object.OK_CHIEN == "N" %}
                                                   <span class="icon-dog_face_no"></span>
                                                {% else %}
                                                    <span class="icon-dog_face_question"></span> 
                                                {% endif %}
                                            {% endif %}
                                            {% if object.OK_CHAT == "Y" %}
                                                <span class="icon-cat_face green-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
                                            {% else %}
                                                {% if object.OK_CHAT == "N" %}
                                                   <span class="icon-cat_face_no red-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
                                                {% else %}
                                                    <span class="icon-cat_face_question orange-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span> 
                                                {% endif %}
                                            {% endif %}
                                        </h1>
                                        <h5>né le {{ object.BirthDt|date:"d M Y"  }}</h5>
                                        <h5>Récupéré à {{ object.City }} dans le {{ object.Departement }},&nbsp;
                                        {% if object.FA is not None %}
                                            Placé en FA chez {{ object.FA }}
                                        {% else %}
                                            En recherche d'une famille d'accueil
                                        {% endif %}
                                        </h5>
                                        <p>{{ object.Description|safe }}</p>

                                    </div>
                                    <div class="tab-pane" id="photos">
                                        {% for photo in object.PetPhotos.all %}
                                            <a href="{{ photo.Image.url }}" ><img src="{% thumbnail photo.Image 350x350 crop %}" class="img-responsive" /></a>
                                        {% endfor %}
                                    </div>
                                    <div class="tab-pane" id="modifier">
                                        <form method="POST" action=''>{% csrf_token %}
                                            {{ form.as_p }}
                                            <input class="btn btn-success" type="submit" value="Enregistrer les modifications">
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="addphotos">
                                        <form method="POST" action=''  enctype="multipart/form-data">{% csrf_token %}
                                            {{ formPhoto.as_p }}
                                            <input class="btn btn-success" type="submit" value="Ajouter la photo">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs with icons on Card -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}