{% extends 'front/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
<div class="main main-raised">
    <div class="section section-full-screen section-signup">
        <div class="space-50"></div>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="content">

                        <form method="POST" action=''>{% csrf_token %}
                          {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                          {% endfor %}
                          {% for field in form.visible_fields %}
                            <div class="form-group">
                              {{ field.label_tag }}
                              {% render_field field class="form-control" %}
                              {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                              {% endif %}
                            </div>
                          {% endfor %}
                            <input class="btn btn-success" type="submit" value="Enregistrer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}