<div class="section section-pagination">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="title">
						<h3>Navigation Pills</h3>
				</div>

				<ul class="nav nav-pills" role="tablist">
					<!--
						color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
					-->
					<li>
						<a href="#listeanimal" role="tab" data-toggle="tab">
							<i class="material-icons">pets</i>
							Liste des animaux
						</a>
					</li>
					<li class="active">
						<a href="#ajoutanimal" role="tab" data-toggle="tab">
							<i class="material-icons">schedule</i>
							Ajouter un animal
						</a>
					</li>
					<li>
						<a href="#listefa" role="tab" data-toggle="tab">
							<i class="material-icons">contacts</i>
							Tasks
						</a>
					</li>
					<li>
						<a href="#ajouterfa" role="tab" data-toggle="tab">
							<i class="material-icons">person_add</i>
							Ajouter une famille d'accueil
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>