{% extends 'front/base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
<div class="main main-raised">
    <div class="section section-full-screen section-signup">
        <div class="container-fluid">
            <div class="animated fadeIn">

                <div class="row">
                    {% for pet in allpets %}
                    <div class="col-sm-2">
                        <div class="card card-inverse">
                        <img src="{% if pet.Category == 'Chien' %}{% static 'img/dog-nopic.png' %} {% endif %}{% if pet.Category == 'Chat' %}{% static 'img/cat-nopic.png' %} {% endif %}" class="img-card img-responsive" />
                        <div class="card-img-overlay">
                            <h4 class="card-title">{{ pet.Name }}</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">{{ pet.Sex }} {{ pet.BirthDt }} {{ pet.Departement }} {{ pet.Status }}</small></p>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>



            </div>
        </div>
    </div>
</div>
{% endblock %}