{% extends 'front/base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}

<div class="main main-raised">
    <div class="section section-full-screen section-signup">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Filtres</a>
                </div>

                <div class="navbar-collapse collapse" id="example-navbar" aria-expanded="false" style="height: 0px;">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Catégorie
                                <b class="caret"></b>
                            <div class="ripple-container"></div></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for name, ch in categchoices %}

                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">
                                            {{ ch }}
                                        </label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sexe
                                <b class="caret"></b>
                            <div class="ripple-container"></div></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for name,ch in sexchoices %}
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                            {{ ch.1 }}
                                        </label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">OK Chien
                                <b class="caret"></b>
                            <div class="ripple-container"></div></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for name,ch in okchoices %}
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                            {{ ch.1 }}
                                        </label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>    
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">OK Chat
                                <b class="caret"></b>
                            <div class="ripple-container"></div></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for name,ch in okchoices %}

                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                            {{ ch.1 }}
                                        </label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>       
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">OK Bébé
                                <b class="caret"></b>
                            <div class="ripple-container"></div></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for name,ch in okchoices %}
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                            {{ ch.1 }}
                                        </label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>                   
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">

            <div class="animated fadeIn">

                <div class="row">
                    {% for pet in allpets %}
                    <div class="col-sm-2">
                        <a href="{% url 'pet-detail' pet.pk %}">
                            <div class="card card-inverse">
                            <img src="{% if pet.PetPhotos is not None %}{% thumbnail pet.PetPhotos.first.Image 350x350 crop %}{% else %}{% if pet.Category == 'Chien' %}{% static 'img/dog-nopic.png' %} {% endif %}{% if pet.Category == 'Chat' %}{% static 'img/cat-nopic.png' %} {% endif %}{% endif %}" class="img-card img-responsive" />
                            <div class="card-img-overlay">
                                <h4 class="card-title">{{ pet.Name }}&nbsp;
                                    {% if pet.Sex == "M" %}
                                        <span class="icon-male"></span>
                                    {% else %}
                                        <span class="icon-female"></span>
                                    {% endif %}
                                    {% if pet.OK_ENFANT == "Y" %}
                                        <span class="icon-baby_face"></span>
                                    {% else %}
                                        {% if pet.OK_ENFANT == "N" %}
                                           <span class="icon-baby_face_no"></span>
                                        {% else %}
                                            <span class="icon-baby_face_question"></span> 
                                        {% endif %}
                                    {% endif %}
                                    {% if pet.OK_CHIEN == "Y" %}
                                        <span class="icon-dog_face green-icon"></span>
                                    {% else %}
                                        {% if pet.OK_CHIEN == "N" %}
                                           <span class="icon-dog_face_no"></span>
                                        {% else %}
                                            <span class="icon-dog_face_question"></span> 
                                        {% endif %}
                                    {% endif %}
                                    {% if pet.OK_CHAT == "Y" %}
                                        <span class="icon-cat_face green-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
                                    {% else %}
                                        {% if pet.OK_CHAT == "N" %}
                                           <span class="icon-cat_face_no red-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
                                        {% else %}
                                            <span class="icon-cat_face_question orange-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span> 
                                        {% endif %}
                                    {% endif %}
                                </h4>
                                <div class="pet_age"><p>{{ pet.BirthDt|timesince }}</p></div>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}